# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=shopping
DB_PASSWORD=shopping123
DB_DATABASE=shopping_db

# JWT
JWT_SECRET=sua-chave-secreta-aqui
JWT_EXPIRATION=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=3000

# Security
PASSWORD_PEPPER=

# Sentry
SENTRY_DSN=
